<header>
    <div class="container">
      <a routerLink="/home" class="logo">Angular Application</a>
      <nav>
        <ul>
          <li>
            <a routerLink="/login">Login</a>
          </li>
          <li class="menu-container">
            <a routerLink="/">Topics</a>
            <div class="menu">
              <a routerLink="/reactiveForms">Reactive Forms</a>
              <a routerLink="/compComm">Component Communication</a>
              <a routerLink="/rxjs">Rxjs</a>
              <a routerLink="/routing">Routing</a>
              <a>Logout</a>
            </div>
          </li>
          <li>
            <a routerLink="/others"> Others </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>